.finances {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.finances .content {
  width: 100%;
}

.finances .content + .content {
  margin: 1rem 0 0;
}

.finances .content .container-list-finances {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 64rem) {
  .finances {
    flex-wrap: nowrap;
  }

  .finances .content + .content {
    margin: 0 0 0 1rem;
  }
}
