.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-cards .skeleton + .skeleton {
  margin: 1rem 0 0;
}

@media screen and (min-width: 64rem) {
  .container-cards {
    flex-wrap: nowrap;
  }
}
