* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

html,
body,
#root {
  height: 100%;
}

.page {
  height: 100%;
  min-height: calc(100% - 18px);
}

.container-page {
  max-width: 90.25rem;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

@media screen and (min-width: 64rem) {
}
