* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}

html,
body,
#root {
  height: 100%;
}

.page {
  height: 100%;
  min-height: calc(100% - 18px);
}

.container-page {
  max-width: 90.25rem;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

.container-button-register,
.container-buttons {
  display: flex;
  flex-direction: column-reverse;
  margin: 1rem 0 0;
}

.container-button-register .button-register,
.container-buttons .button {
  border: none;
  background: transparent;
  height: 2.375rem;
  font-size: 0.875rem;
}

.container-button-register .button-register.button-submit,
.container-buttons .button-submit {
  border: 0.0625rem solid;
  border-radius: 0.125rem;
  min-width: 200px;
}

.button {
  border: 1px solid;
  background: transparent;
  border-radius: 2px;
}

@media screen and (min-width: 64rem) {
  .container-button-register,
  .container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .container-buttons .button {
    width: auto;
    cursor: pointer;
  }

  .container-button-register .button-register.button-cancel,
  .container-buttons .button-cancel {
    margin-right: 1rem;
  }

  .container-button-register .button-register,
  .container-buttons .button-submit {
    font-size: 1rem;
    cursor: pointer;
  }

  .button {
    cursor: pointer;
  }
}
