.spending {
  margin: 1.5rem 0;
}

.spending .title-spending {
  margin: 0 0 1rem;
}

.spending .container-spending {
  border: 0.0625rem solid;
  border-radius: 0.125rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.spending .container-spending .list-of-spending {
  width: 100%;
}

.spending .container-spending .list-of-spending .line-spending {
  border: 0.0625rem solid;
  border-radius: 0.125rem;
  padding: 0.5rem 1rem;
}

.spending
  .container-spending
  .list-of-spending
  .line-spending
  + .line-spending {
  margin: 16px 0 0;
}

.list-of-spending .line-spending .text-spending {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-of-spending .line-spending .text-spending + .text-spending {
  margin: 0.3125rem 0 0;
}

.container-search .search {
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 64rem) {
  .card-finance + .card-finance {
    margin: 1.5rem 0 0 1rem;
  }

  .spending .container-spending {
    flex-wrap: nowrap;
  }

  .spending .container-spending .list-of-spending + .list-of-spending {
    margin-left: 1rem;
  }
}
