.section-login {
  display: flex;
}

.section-login,
.login,
.institutional-login {
  width: 100%;
  height: 100%;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.institutional-login {
  display: none;
}

.container-login {
  width: 100%;
  max-width: 33.125rem;
  height: auto;
  padding: 1rem;
}

.container-login .container-buttons .button {
  max-width: none;
}

@media screen and (min-width: 64rem) {
  .institutional-login {
    display: block;
    background-image: url('https://ddgimgs-f43e.kxcdn.com/3048651/hbqfoa_666b5f0d961ed3d1a150aad50d81dd67840f3238.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;
  }
}
