.section-register {
  margin: 0.75rem 0 0;
}

.section-register .container-text-register {
  display: flex;
  align-items: center;
  margin: 1.25rem 0;
}

.section-register .container-text-register .or {
  margin: 0 0.3125rem;
}

.section-register .button {
  max-width: none;
}

.register-title {
  margin: 0 0 0.5rem;
}
