.container-form-spending {
  max-height: 550px;
  height: 100%;
  overflow-y: auto;
  padding: 8px;
}

.container-inputs {
  margin: 0 0 16px;
  border-bottom: 1px solid;
  padding: 0 0 16px;
}

.container-buttons {
  display: flex;
}

.add-item,
.remove-item {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid;
  border-radius: 2px;
}

.add-item {
  background-color: transparent;
}

.remove-item {
  background-color: #fb3232;
}

.container-buttons > .action-button + .action-button {
  margin-left: 8px;
}

.save-spending {
  width: 100%;
  padding: 10px 5px;
  border-radius: 2px;
  border: none;
  background-color: #056405;
  color: #ffffff;
}
